{:duct.profile/base
 {:duct.core/project-ns conduit

  :duct.migrator/ragtime
  {:migrations [#ig/ref :conduit.migration/create-table-user
                #ig/ref :conduit.migration/create-table-follow
                #ig/ref :conduit.migration/create-table-article
                #ig/ref :conduit.migration/create-table-tag
                #ig/ref :conduit.migration/create-table-favorite
                #ig/ref :conduit.migration/create-table-comment]}

  [:duct.migrator.ragtime/sql :conduit.migration/create-table-user]
  {:up   [#duct/resource "migrations/create-table-user-2018-04-23.sql"]
   :down [#duct/resource "migrations/drop-table-user-2018-04-23.sql"]}

  [:duct.migrator.ragtime/sql :conduit.migration/create-table-follow]
  {:up   [#duct/resource "migrations/create-table-follow-2018-04-23.sql"]
   :down [#duct/resource "migrations/drop-table-follow-2018-04-23.sql"]}

  [:duct.migrator.ragtime/sql :conduit.migration/create-table-article]
  {:up   [#duct/resource "migrations/create-table-article-2018-04-23.sql"]
   :down [#duct/resource "migrations/drop-table-article-2018-04-23.sql"]}

  [:duct.migrator.ragtime/sql :conduit.migration/create-table-tag]
  {:up   [#duct/resource "migrations/create-table-tag-2018-04-23.sql"]
   :down [#duct/resource "migrations/drop-table-tag-2018-04-23.sql"]}

  [:duct.migrator.ragtime/sql :conduit.migration/create-table-favorite]
  {:up   [#duct/resource "migrations/create-table-favorite-2018-04-23.sql"]
   :down [#duct/resource "migrations/drop-table-favorite-2018-04-23.sql"]}

  [:duct.migrator.ragtime/sql :conduit.migration/create-table-comment]
  {:up   [#duct/resource "migrations/create-table-comment-2018-04-23.sql"]
   :down [#duct/resource "migrations/drop-table-comment-2018-04-23.sql"]}
  
  :conduit.handler.walkable/connect
  [{:key :app.global-feed/articles,
    :type :root,
    :table "article"
    :output [:article/id]
    :default-order-by [:article/created-at :desc]}
   {:key :app.personal-feed/articles,
    :type :root,
    :table "article"
    :output [:article/id]
    :filter {:article/author {:user/followed-by [:= app.auth/current-user :user/id]}}
    :default-order-by [:article/created-at :desc]}
   {:key :app.articles.list/first-item-id,
    :type :root,
    :table "article"
    :aggregate true
    :formula [:min :article/id]}
   {:key :app.articles.list/last-item-id,
    :type :root,
    :aggregate true
    :formula [:max :article/id]
    :table "article"}
   {:key :app.articles.list/total-items,
    :type :root,
    :aggregate true
    :formula [:count-*]
    :table "article"}
   {:key :app/users,
    :type :root,
    :table "\"user\""
    :output [:user/id]}
   {:key :session/current-user,
    :type :root,
    :table "\"user\""
    :output [:user/id]
    :filter [:= app.auth/current-user :user/id]
    :cardinality :one}
   {:key :app.tags/top-list
    :type :root
    :table "tag"
    :output [:tag/tag :tag/count]
    :group-by [:tag/tag]
    :default-order-by [:tag/count :desc]
    :default-limit 20}
   {:key :user/followed-by,
    :type :join,
    :output [:user/id]
    :join-path [:user/id :follow/followee-id :follow/follower-id :user/id]}
   {:key :user/follows,
    :type :join,
    :output [:user/id]
    :join-path [:user/id :follow/follower-id :follow/followee-id :user/id]}
   {:key :user/followed-by-me,
    :type :join,
    :aggregate true
    :formula [:< 0 [:count-*]]
    :filter [:= app.auth/current-user :user/id]
    :join-path [:user/id :follow/followee-id :follow/follower-id :user/id]}
   {:key :user/followed-by-count,
    :type :join,
    :join-path [:user/id :follow/followee-id :follow/follower-id :user/id]
    :aggregate true
    :formula [:count-*]}
   {:key :article/liked-by,
    :type :join,
    :output [:user/id]
    :join-path [:article/id :favorite/article-id :favorite/user-id :user/id]}
   {:key :user/likes,
    :type :join,
    :output [:article/id]
    :join-path [:user/id :favorite/user-id :favorite/article-id :article/id]}
   {:key :article/liked-by-count,
    :type :join,
    :aggregate true
    :formula [:count-*]
    :join-path [:article/id :favorite/article-id :favorite/user-id :user/id]}
   {:key :article/liked-by-me,
    :type :join,
    :aggregate true,
    :formula [:< 0 [:count-*]]
    :filter [:= app.auth/current-user :user/id]
    :join-path [:article/id :favorite/article-id :favorite/user-id :user/id]}
   {:key :article/tags,
    :type :join,
    :output [:tag/tag]
    :join-path [:article/id :tag/article-id]}
   {:key :article/comments,
    :type :join,
    :output [:comment/id]
    :join-path [:article/id :comment/article-id]}
   {:key :article/author,
    :type :join,
    :output [:user/id]
    :join-path [:article/author-id :user/id]
    :cardinality :one}
   {:key :user/articles,
    :type :join,
    :output [:article/id]
    :join-path [:user/id :article/author-id]}
   {:key :comment/author,
    :type :join,
    :output [:user/id]
    :join-path [:comment/author-id :user/id]
    :cardinality :one}
   {:key :tag/count,
    :type :pseudo-column,
    :formula [:count :tag/tag]}
   {:key :comment/can-edit,
    :type :pseudo-column,
    :formula [:= app.auth/current-user :comment/author-id]}
   {:key :article/can-edit,
    :type :pseudo-column,
    :formula [:= app.auth/current-user :article/author-id]}
   {:key :article/id
    :type :true-column
    :primary-key true
    :output [:article/slug :article/title
             :article/description :article/body :article/image
             :article/created-at :article/updated-at
             :article/can-edit
             :article/liked-by-count :article/liked-by-me
             :article/author
             :article/liked-by
             :article/tags]}
   {:key :comment/id
    :type :true-column
    :primary-key true
    :output [:comment/created-at :comment/updated-at
             :comment/can-edit :comment/body
             :comment/author]}
   {:key :user/id
    :type :true-column
    :table "\"user\""
    :primary-key true
    :output [:user/email :user/name :user/username :user/bio :user/image
             :user/followed-by-me :user/followed-by-count
             :user/followed-by
             :user/articles]}]

  :conduit.handler.walkable/resolver
  [{:connect #ig/ref :conduit.handler.walkable/connect}
   {:app/db #ig/ref :duct.database/sql
    :com.wsscode.pathom.core/placeholder-prefixes #{"placeholder" "ph"}
    :duct/logger #ig/ref :duct/logger}]

  :duct.router/ataraxy
  {:routes     {:get [:index]
                [:post "/api"] ^:wrap-transit [:api]}
   :handlers   {:api #ig/ref :conduit.handler.walkable/resolver
                :index #ig/ref :conduit.handler.fulcro/index}
   :middleware {:wrap-transit #ig/ref :conduit.middleware.fulcro/wrap-transit}}
  
  :duct.middleware.buddy/authentication
  {:backend :session}

  :conduit.handler.fulcro/index {}

  :conduit.middleware.fulcro/wrap-transit {:session-auth #ig/ref :duct.middleware.buddy/authentication}
  }
 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod  {}

 :duct.module/cljs {:main conduit.client}

 :fulcro.module/cljs-build-options {}

 :duct.module.web/site {}

 :duct.module/logging {}
 :duct.module/sql     {}

 }
