{:duct.core/project-ns  conduit
 :duct.core/environment :production

 :duct.middleware.buddy/authentication
 {:backend :jws
  :secret  #duct/env "JWT_SECRET"}

 :duct.module/logging {}
 :duct.module.web/api {}
 :duct.module/sql     {}

 :duct.migrator/ragtime
 {:migrations [#ig/ref :conduit.migration/create-table-user
               #ig/ref :conduit.migration/create-table-follow
               #ig/ref :conduit.migration/create-table-article
               #ig/ref :conduit.migration/create-table-tag
               #ig/ref :conduit.migration/create-table-favorite
               #ig/ref :conduit.migration/create-table-comment]}

 [:duct.migrator.ragtime/sql :conduit.migration/create-table-user]
 {:up   [#duct/resource "migrations/create-table-user-2018-04-23.sql"]
  :down [#duct/resource "migrations/drop-table-user-2018-04-23.sql"]}

 [:duct.migrator.ragtime/sql :conduit.migration/create-table-follow]
 {:up   [#duct/resource "migrations/create-table-follow-2018-04-23.sql"]
  :down [#duct/resource "migrations/drop-table-follow-2018-04-23.sql"]}

 [:duct.migrator.ragtime/sql :conduit.migration/create-table-article]
 {:up   [#duct/resource "migrations/create-table-article-2018-04-23.sql"]
  :down [#duct/resource "migrations/drop-table-article-2018-04-23.sql"]}

 [:duct.migrator.ragtime/sql :conduit.migration/create-table-tag]
 {:up   [#duct/resource "migrations/create-table-tag-2018-04-23.sql"]
  :down [#duct/resource "migrations/drop-table-tag-2018-04-23.sql"]}

 [:duct.migrator.ragtime/sql :conduit.migration/create-table-favorite]
 {:up   [#duct/resource "migrations/create-table-favorite-2018-04-23.sql"]
  :down [#duct/resource "migrations/drop-table-favorite-2018-04-23.sql"]}

 [:duct.migrator.ragtime/sql :conduit.migration/create-table-comment]
 {:up   [#duct/resource "migrations/create-table-comment-2018-04-23.sql"]
  :down [#duct/resource "migrations/drop-table-comment-2018-04-23.sql"]}

 :conduit.handler.walkable/compile-schema
 {:columns [:user/email :user/token :user/username :user/bio :user/image
            :article/slug :article/title :article/description :article/body
            :article/created-at :article/updated-at
            :tag/tag
            :comment/id :comment/created-at :comment/updated-at :comment/body]

  :idents {:user/by-id    :user/id
           :users/all     "user"
           :articles/all  "article"
           :articles/feed "article"
           :article/by-id :article/id}

  :joins {[:user/followed-by :user/followed-by-me?]
          [:user/id :follow/followee_id :follow/follower_id :user/id]

          :article/tags [:article/id :tag/article-id]

          :article/comments [:article/id :comment/article-id]

          [:article/liked-by :article/liked-by-count :article/liked-by-me?]
          [:article/id :favorite/article_id :favorite/user_id :user/id]

          :article/author [:article/author-id :user/id]

          :comment/author [:comment/author-id :user/id]}
  :reversed-joins {:user/follows     :user/followed-by
                   :article/liked-by :user/like}
  :pseudo-columns {:agg/count [:count-*]}
  :cardinality    {:user/by-id             :one
                   :article/by-id          :one
                   :article/author         :one
                   :article/liked-by-me?   :one
                   :user/followed-by-me?   :one
                   :article/liked-by-count :one}}

 :conduit.handler.sql/run-query {}

 :conduit.handler.walkable/resolver
 #:walkable.sql-query-builder {:duct/logger #ig/ref :duct/logger
                               :run-query   #ig/ref :conduit.handler.sql/run-query
                               :sql-db      #ig/ref :duct.database.sql/hikaricp
                               :sql-schema  #ig/ref :conduit.handler.walkable/compile-schema}

 :duct.module/ataraxy
 {[:post "/api/users" {{:keys [email username password]} :body-params}]
  [:user/create email username password]

  [:post "/api/users/login" {{:keys [username password]} :body-params}]
  [:user/login username password]

  [:get "/api/profiles/" username]
  ^:jws-auth [:user/by-username username]

  [:delete "/api/users/" user-id]
  ^:jws-auth [:user/destroy ^int user-id]

  [:get "/api/users"]
  ^:jws-auth [:user/all-users]

  [:post "/article/create" {article :body-params}]
  ^:jws-auth [:article/create article]

  [:get "/api/articles"]
  ^:jws-auth [:article/all-articles]

  [:get "/api/user"]
  ^:jws-auth [:user/whoami]}

 :duct.router/ataraxy {:middleware {:jws-auth #ig/ref :duct.middleware.buddy/authentication}}

 :conduit.handler.user/whoami
 {}

 :conduit.handler.user/all-users
 {:resolver #ig/ref :conduit.handler.walkable/resolver}

 :conduit.handler.user/by-username
 {:resolver #ig/ref :conduit.handler.walkable/resolver}

 :conduit.handler.user/destroy
 {:db     #ig/ref :duct.database/sql}

 :conduit.handler.user/create
 {:db     #ig/ref :duct.database/sql}

 :conduit.handler.article/all-articles
 {:resolver #ig/ref :conduit.handler.walkable/resolver}

 :conduit.handler.article/create
 {:db     #ig/ref :duct.database/sql}

 :conduit.handler.user/login
 {:db     #ig/ref :duct.database/sql
  :secret #duct/env "JWT_SECRET"}}
