{:duct.core/project-ns  conduit
 :duct.core/environment :production

 :duct.middleware.buddy/authentication
 {:backend :jws
  :secret  #duct/env "JWT_SECRET"}

 :duct.module/cljs {:main conduit.main}

 :duct.module.web/site {}

 :duct.middleware.web/defaults {:security {:anti-forgery false}}
 :duct.middleware.web/format   {:default-format "application/transit+json"
                                :formats        {"application/transit+json"
                                                 #ig/ref :conduit.handler.transit-format/transit-json-format}}

 :duct.router/ataraxy
 {:middleware {:jws-auth      #ig/ref :duct.middleware.buddy/authentication
               :wrap-format   #ig/ref :duct.middleware.web/format
               :wrap-defaults #ig/ref :duct.middleware.web/defaults}}

 :duct.module/ataraxy
 {"/api" ^:jws-auth ^:wrap-defaults ^:wrap-format [:walkable/resolver]}

 :duct.module/logging {}
 :duct.module/sql     {}

 :duct.migrator/ragtime
 {:migrations [#ig/ref :conduit.migration/create-table-user
               #ig/ref :conduit.migration/create-table-follow
               #ig/ref :conduit.migration/create-table-article
               #ig/ref :conduit.migration/create-table-tag
               #ig/ref :conduit.migration/create-table-favorite
               #ig/ref :conduit.migration/create-table-comment]}

 [:duct.migrator.ragtime/sql :conduit.migration/create-table-user]
 {:up   [#duct/resource "migrations/create-table-user-2018-04-23.sql"]
  :down [#duct/resource "migrations/drop-table-user-2018-04-23.sql"]}

 [:duct.migrator.ragtime/sql :conduit.migration/create-table-follow]
 {:up   [#duct/resource "migrations/create-table-follow-2018-04-23.sql"]
  :down [#duct/resource "migrations/drop-table-follow-2018-04-23.sql"]}

 [:duct.migrator.ragtime/sql :conduit.migration/create-table-article]
 {:up   [#duct/resource "migrations/create-table-article-2018-04-23.sql"]
  :down [#duct/resource "migrations/drop-table-article-2018-04-23.sql"]}

 [:duct.migrator.ragtime/sql :conduit.migration/create-table-tag]
 {:up   [#duct/resource "migrations/create-table-tag-2018-04-23.sql"]
  :down [#duct/resource "migrations/drop-table-tag-2018-04-23.sql"]}

 [:duct.migrator.ragtime/sql :conduit.migration/create-table-favorite]
 {:up   [#duct/resource "migrations/create-table-favorite-2018-04-23.sql"]
  :down [#duct/resource "migrations/drop-table-favorite-2018-04-23.sql"]}

 [:duct.migrator.ragtime/sql :conduit.migration/create-table-comment]
 {:up   [#duct/resource "migrations/create-table-comment-2018-04-23.sql"]
  :down [#duct/resource "migrations/drop-table-comment-2018-04-23.sql"]}

 :conduit.handler.walkable/floor-plan
 {:columns [:user/email :user/name :user/username :user/bio :user/image
            :article/slug :article/title :article/description :article/body :article/image
            :article/created-at :article/updated-at
            :tag/tag
            :comment/id :comment/created-at :comment/updated-at :comment/body]

  :idents {:user/by-id    :user/id
           :article/by-id :article/id

           :user/whoami
           "user"

           [:feed.global/articles :feed.global/next-id
            :feed.personal/articles :feed.personal/next-id]
           "article"
           }

  :joins {[:user/followed-by :user/followed-by-me :user/followed-by-count]
          [:user/id :follow/followee-id :follow/follower-id :user/id]

          :article/tags [:article/id :tag/article-id]

          :article/comments [:article/id :comment/article-id]

          [:article/liked-by :article/liked-by-count :article/liked-by-me]
          [:article/id :favorite/article-id :favorite/user-id :user/id]

          :article/author [:article/author-id :user/id]

          :comment/author [:comment/author-id :user/id]}

  :pseudo-columns {:pagination/total   [:count-*]
                   :pagination/last-id [:max :article/id]}

  :aggregators {[:article/liked-by-count :user/followed-by-count]
                [:count-*]

                [:feed.global/next-id :feed.personal/next-id]
                :article/id

                [:user/followed-by-me :article/liked-by-me]
                [:< 0 [:count-*]]}

  :reversed-joins {:user/follows  :user/followed-by
                   :user/like     :article/liked-by
                   :user/articles :article/author}

  :cardinality {:user/whoami :one

                [:user/by-id :article/by-id]
                :one

                [:article/author :comment/author]
                :one

                [:articles/count-all :articles/count-feed]
                :one}}

 :conduit.handler.transit-format/transit-json-format {}

 :conduit.handler.walkable/resolver
 #:walkable.sql-query-builder {:com.wsscode.pathom.core/placeholder-prefixes #{"placeholder" "ph"}
                               :duct/logger                                  #ig/ref :duct/logger
                               :app/jwt-secret                               #duct/env "JWT_SECRET"
                               :app/db                                       #ig/ref :duct.database/sql
                               :floor-plan                                   #ig/ref :conduit.handler.walkable/floor-plan}}
